# COGS 108 - Assignment 3: Data Privacy

### Written By: Liz Izhikevich and Harshita Mangal

## Important

- Rename this file to 'A3_A########.ipynb' (filled in with your student ID) before you submit it. Submit it to TritonED.
- Do not change / update / delete any existing cells with 'assert' in them. These are the tests used to check your assignment. 
    - Changing these will be flagged for attempted cheating. 
- This assignment has hidden tests: tests that are not visible here, but that will be run on your submitted. 
    - This means passing all the tests you can see in the notebook here does not guarantee you have the right answer!

## Overview

We have discussed in lecture the importance and the mechanics of protecting individuals privacy when they are included in datasets. In particular, in Lecture 11 (April 26th) we introduced the concept of the Safe Harbor Method. The Safe Harbour method specifies how to protect individual's identities by telling us which tells us which information to remove from a dataset in order to avoid accidently disclosing personal information. 

In this assignment, we will explore how identity can be decoded from badly anonymized datasets, and also explore using Safe Harbour to anonymize datasets properly.

### Import Statements

In [2]:
# Import Pandas
# Note: Pandas is all you need! Do not import any other functions / packages.
import pandas as pd

## Part 1: Identifying Data

Data Files:
- anon_user_dat.json
- employee_info.json

You will first be working with a file called 'anon_user_dat.json'. This file that contains information about some (fake) Tinder users. When creating an account, each Tinder user was asked to provide their first name, last name, work email (to verify the disclosed workplace), age, gender, phone # and zip code. Before releasing this data, a data scientist cleaned the data to protect the privacy of Tinder's users by removing the obvious personal identifiers: phone #, zip code, and IP address. However, the data scientist chose to keep each users' email addresses because when they visually skimmed a couple of the email addresses none of them seemed to have any of the user's actual names in them. This is where the data scientist made a huge mistake!

We will take advantage of having the work email addresses by finding the employee information of different companies and matching that employee information with the information we have, in order to identify the names of the secret Tinder users!

In [3]:
##################################
# 1a) Load in the 'cleaned' data #
##################################

# Load the json file into a pandas dataframe. Call it 'df_personal'.

df_personal = pd.read_json('anon_user_dat.json')
print(df_personal)

     age                           email  gender
0     46     gshoreson0@seattletimes.com    Male
1     56              eweaben1@salon.com  Female
2     30         akillerby2@gravatar.com    Male
3     87               gsainz3@zdnet.com    Male
4     58        bdanilewicz4@4shared.com    Male
5     39       sdeerness5@wikispaces.com  Female
6     43          jstillwell6@ustream.tv  Female
7     37          mpriestland7@opera.com    Male
8     35        nerickssen8@hatena.ne.jp  Female
9     40              hparsell9@xing.com    Male
10     9                 acopasa@fda.gov    Male
11    38        bdanielovitchb@jigsy.com    Male
12    42              cwestbergc@psu.edu  Female
13    39          jlarived@goodreads.com  Female
14    37             mchallisse@ning.com  Female
15    66            cbrognotf@ebay.co.uk    Male
16    79              aphearg@tumblr.com    Male
17    67             askogginsh@jugem.jp  Female
18    30       eondraseki@deviantart.com  Female
19    39                 kcaswallj@is.gd  Female
20    22          cpetrillok@cbsnews.com    Male
21    42             bstratfordl@ted.com  Female
22    42     mandreichikm@shareasale.com    Male
23    56              jsegarn@sfgate.com    Male
24    64        aurridgeo@purevolume.com    Male
25    58                njandap@ebay.com    Male
26    44             lwathallq@exblog.jp  Female
27    62      aoveringtonr@canalblog.com  Female
28    45                dbrellins@ft.com  Female
29    31              ebukact@toplist.cz  Female
..   ...                             ...     ...
970   62        dsessionsqy@sakura.ne.jp  Female
971   32      vkondratenkoqz@cornell.edu    Male
972   66         tbrethertonr0@lycos.com  Female
973   67        srenfrewr1@shinystat.com  Female
974   30       jjoiceyr2@theatlantic.com    Male
975   13           bborleacer3@naver.com    Male
976   30         lmackeer4@reference.com  Female
977   64         mpaolicchir5@utexas.edu  Female
978   63              lgaliar6@lycos.com  Female
979   97  ldemcakr7@networksolutions.com  Female
980   41            ide giorgior8@360.cn    Male
981   85            mmctrustyr9@jugem.jp    Male
982   42           ekohnra@amazonaws.com    Male
983   73        mmillmorerb@hatena.ne.jp    Male
984   24           lchaudrellerc@soup.io    Male
985   41            iavramovitzrd@ft.com  Female
986   35         rreaneyre@canalblog.com  Female
987   54    sscawnrf@businessinsider.com    Male
988   30         lharbronrg@slashdot.org    Male
989   34              pgurnayrh@uiuc.edu    Male
990   31                 ckyngeri@hp.com  Female
991   64     cboothroydrj@yellowbook.com    None
992   69             kbrunkerrk@hibu.com    Male
993   34             sleallerl@wikia.com  Female
994   38          kbeefonrm@vkontakte.ru  Female
995   73           pstroulgerrn@time.com  Female
996   46     kbasnettro@seattletimes.com  Female
997   55     pmortlockrp@liveinternet.ru    Male
998   58            sphetterq@toplist.cz    Male
999   26           jtyresrr@slashdot.org    Male

[1000 rows x 3 columns]

In [4]:
assert isinstance(df_personal, pd.DataFrame)

In [5]:
#################################
# 1b) Check the first 10 emails #
#################################

# Save the first 10 emails to a Series, and call it 'sample_emails'. 
# You should then and print out this Series. 
# The purpose of this is to get a sense of how these work emails are structured
#   and how we could possibly extract where each anonymous user seems to work


#sample_emails = pd.Series(df_personal.iloc[0:10, 1])
sample_emails = df_personal['email'].head(10)
print(sample_emails)

0    gshoreson0@seattletimes.com
1             eweaben1@salon.com
2        akillerby2@gravatar.com
3              gsainz3@zdnet.com
4       bdanilewicz4@4shared.com
5      sdeerness5@wikispaces.com
6         jstillwell6@ustream.tv
7         mpriestland7@opera.com
8       nerickssen8@hatena.ne.jp
9             hparsell9@xing.com
Name: email, dtype: object

In [6]:
assert isinstance(sample_emails, pd.Series)

In [7]:
###############################################
# 1c) Extract the Company Name From the Email #
###############################################

# Create a function with the following specifications:
#   Function Name: extract_company
#   Purpose: to extract the company of the email 
#          (i.e., everything after the @ sign but before the .com )
#   Parameter(s): email (string)
#   Returns: The extracted part of the email (string)
#   Hint: This should take 1 line of code. Look into the find('') method. 
#
# You can start with this outline:
#   def extract_company(email):
#      return 
#
# Example Usage: 
#   extract_company("larhe@uber.com") should return "uber"


def extract_company(email):
    s_index = email.find('@') + 1
    e_index = email.find(".")
    return email[s_index:e_index]

In [8]:
assert extract_company("gshoreson0@seattletimes.com") == "seattletimes"

With a little bit of basic sleuthing (aka googling) and web-scraping (aka selectively reading in html code) it turns out that you've been able to collect information about all the present employees/interns of the companies you are interested in. Specifically, on each company website, you have found the name, gender, and age of its employees. You have saved that info in employee_info.json and plan to see if, using this new information, you can match the Tinder accounts to actual names.

In [9]:
#############################
# 1d) Load in employee data #
#############################

# Load the json file into a pandas dataframe. Call it 'df_employee'.

df_employee = pd.read_json('employee_info.json')
print(df_employee)

     age      company first_name  gender        last_name
0     40      123-reg  Inglebert    Male         Falconer
1     32          163      Penny  Female          Pennone
2     45          163       Elva  Female         Crighton
3     49          163     Lemuel    Male             Lind
4     79          163     Rafael    Male         Bedenham
5     30         1688   Herminia  Female            Sisse
6     31        1und1       Toby  Female           Nisuis
7     54        1und1     Kylynn  Female         Vedikhov
8     56        1und1     Mychal    None          Denison
9     41          360     Ilario    Male          Mannagh
10    44          360    Angelle  Female           Kupisz
11    54          360     Farley    Male        Mullenger
12    40      4shared   Ginnifer  Female           Jarret
13    58      4shared      Brody    Male         Pinckard
14    34           51     Samara    None           Soares
15    37           51    Stanton    Male            Rehme
16    55           51     Gillie  Female      Shillinglaw
17    28          abc      Lukas    Male             Krol
18    69          abc      Glory  Female      Silverthorn
19    65        about    Isidora  Female       Yanyushkin
20    66        about     Karita  Female           Cantos
21    66        about      Marla  Female          Forsard
22    55     aboutads   Nikolaus    Male         Haulkham
23    51  accuweather   Sinclair    Male         Leverett
24    80  accuweather     Ilyssa  Female         Ottewill
25    58      addthis     Flossi  Female     Metheringham
26    52        admin      Ashby    Male           Gwilym
27    50        alexa     Carrol    Male        Terlinden
28    48      alibaba     Celina  Female          Santoro
29    58      alibaba    Zebulon    Male          Gasnoll
..   ...          ...        ...     ...              ...
970   51         yale   Violette  Female            Walsh
971   56         yale       Mord    Male             Fant
972   61         yale    Bobette  Female         Hurndall
973   70         yale    Gwenore  Female            Arens
974   18       yandex    Lennard    Male           Ducroe
975   35       yandex    Pernell    Male           Reeman
976   59       yandex    Garwood    Male          Prophet
977   64       yandex       Alic    Male         Peachman
978   37  ycombinator     Lenore  Female          Broxton
979   64   yellowbook   Charlena    None          Johncey
980   52  yellowpages        Rab    Male         Goldsack
981   61  yellowpages     Moises    Male         Lansdale
982   63  yellowpages     Berthe  Female     Valentinuzzi
983   63  yellowpages    Elliott    Male              Oki
984   12     yolasite       Gale    Male           Boorne
985   61     yolasite     Briney  Female  Grafton-Herbert
986   21        youku   Marchall    Male           Bilbee
987   37        youku     Dianna  Female        Handyside
988   39        youku        May  Female         Sellwood
989   60        youku    Humfrey    Male         Wheelton
990   61        youku  Philomena  Female        Cranstoun
991   13        youtu      Tyler    Male       Giacovazzo
992   57        youtu  Claudette  Female          Gabotti
993   60        youtu    Carroll  Female       Bertwistle
994   43      youtube     Herman    Male          Dhennin
995   58        zdnet      Biron    Male        Malkinson
996   87        zdnet      Guido    Male          Comfort
997   33       zimbio     Jobyna  Female            Busek
998   45       zimbio   Andreana  Female          Ladewig
999   51       zimbio      Becka  Female            Waryk

[1000 rows x 5 columns]

In [10]:
assert isinstance(df_personal, pd.DataFrame)

In [11]:
#########################################################
# 1e) Match the employee name with company, age, gender #
#########################################################

# Create a function with the following specifications:
#   Function name: employee_matcher
#   Purpose: to match the employee name with the provided company, age, and gender
#   Parameter(s): company (string), age (int), gender (string)
#   Returns: The employee first_name and last_name like this: return first_name, last_name 
#   Note: If there are multiple employees that fit the same description, first_name and 
#         last_name should return a list of all possible first names and last name
#         i.e., ['Desmund', 'Kelby'], ['Shepley', 'Tichner']
#
# Hint:
# There are many different ways to code this.
# 1) An unelegant solution is to loop through df_employee 
#    and for each data item see if the company, age, and gender match
#    i.e., for i in range(0, len(df_employee)):
#              if (company == df_employee.ix[i,'company']):
#
# However! The solution above is very inefficient and long, 
# so you should try to look into this:
# 2) Google the df.loc method: It extracts pieces of the dataframe
#    if it fulfills a certain condition.
#    i.e., df_employee.loc[df_employee['company'] == company]
#    If you need to convert your pandas data series into a list,
#    you can do list(result) where result is a pandas "series"
# 
# You can start with this outline:
#   def employee_matcher(company, age, gender):
#      return first_name, last_name

# YOUR CODE HERE

def employee_matcher(company, age, gender):
    df_company_set = df_employee.loc[df_employee['company'] == company]
    df_age_set = df_company_set.loc[df_company_set['age'] == age]
    df_gender_final_set = df_age_set.loc[df_age_set['gender'] == gender]
    first_name = list(df_gender_final_set['first_name'])
    last_name = list(df_gender_final_set['last_name'])
    return first_name, last_name

In [12]:
assert employee_matcher("google", 41, "Male") == (['Ab'], ['Tetley'])
assert employee_matcher("google", 42, "Male") == (['Desmund', 'Kelby'],
                                                  ['Shepley', 'Tichner'])

In [13]:
####################################
# 1f) Extract all the private Data #
####################################

# - Create 2 empty lists called 'first_names' and 'last_names'
# - Loop through all the people we are trying to identify in df_personal
# - Call the extract_company function (i.e., extract_company(df_personal.ix[i, 'email']) )
# - Call the employee_matcher function 
# - Append the results of employee_matcher to the appropriate lists (first_names and last_names)

# YOUR CODE HERE

first_names = list()
last_names = list()

for index, row in df_personal.iterrows():
    company = extract_company(df_personal.ix[index, 'email'])
    first_names.append(employee_matcher(company, row['age'], row['gender'])[0])
    last_names.append(employee_matcher(company, row['age'], row['gender'])[1])

In [14]:
assert first_names[45:50]== [['Justino'], ['Tadio'], ['Kennith'], ['Cedric'], ['Amargo']]
assert last_names[45:50] == [['Corro'], ['Blackford'], ['Milton'], ['Yggo'], ['Grigor']]

We have now just discovered the 'anonymous' identities of all the registered Tinder users...awkward.

## Part 2: Anonymize Data

You are hopefully now convinced that with some seemingly harmless data a hacker can pretty easily discover the identities of certain users. Thus, we will now clean the original Tinder data ourselves according to the Safe Harbor Method in order to make sure that it has been *properly* cleaned...

In [15]:
#############################
# 2a) Load in personal data #
#############################

# Load the user_dat.json file into a pandas dataframe. Call it 'df_users'.
# Note: You might find that using the same method as A2 (or above) leads to an error.
# The file has a slightly different organization. 
#   Try googling the error and finding the fix for it.
# Hint: you can still use 'pd.read_json', you just need to add another argument.


df_users = pd.read_json('user_dat.json', lines=True)
print(df_users)

     age                           email first_name  gender       ip_address  \
0     46     gshoreson0@seattletimes.com     Gordon    Male    230.97.219.70
1     56              eweaben1@salon.com    Elenore  Female   202.253.80.173
2     30         akillerby2@gravatar.com       Abbe    Male    15.120.128.79
3     87               gsainz3@zdnet.com      Guido    Male   71.234.147.178
4     58        bdanilewicz4@4shared.com      Brody    Male   68.192.188.136
5     39       sdeerness5@wikispaces.com     Shalne  Female    204.227.6.124
6     43          jstillwell6@ustream.tv      Joell  Female   37.146.221.194
7     37          mpriestland7@opera.com    Manfred    Male     67.64.181.77
8     35        nerickssen8@hatena.ne.jp     Neille  Female   180.183.192.79
9     40              hparsell9@xing.com      Henri    Male    32.181.36.170
10     9                 acopasa@fda.gov    Alyosha    Male   36.177.179.182
11    38        bdanielovitchb@jigsy.com     Berkie    Male    86.81.145.219
12    42              cwestbergc@psu.edu    Caresse  Female     28.243.72.29
13    39          jlarived@goodreads.com         Jo  Female     165.251.5.90
14    37             mchallisse@ning.com   Marcelia  Female   148.248.57.176
15    66            cbrognotf@ebay.co.uk       Clim    Male    39.47.253.182
16    79              aphearg@tumblr.com      Arnie    Male    88.180.58.248
17    67             askogginsh@jugem.jp     Astrix  Female    208.161.20.23
18    30       eondraseki@deviantart.com  Enriqueta  Female     1.26.229.204
19    39                 kcaswallj@is.gd    Kristen  Female    30.161.15.205
20    22          cpetrillok@cbsnews.com     Cletis    Male    205.38.38.180
21    42             bstratfordl@ted.com  Bernadine  Female    159.77.18.200
22    42     mandreichikm@shareasale.com       Mack    Male   37.233.225.215
23    56              jsegarn@sfgate.com      Jonas    Male   45.144.205.179
24    64        aurridgeo@purevolume.com    Antoine    Male    101.79.179.65
25    58                njandap@ebay.com    Nichols    Male    155.44.138.46
26    44             lwathallq@exblog.jp      Lorie  Female   79.106.191.247
27    62      aoveringtonr@canalblog.com     Alissa  Female     148.136.49.1
28    45                dbrellins@ft.com       Dona  Female     82.233.62.39
29    31              ebukact@toplist.cz       Essa  Female  191.180.218.203
..   ...                             ...        ...     ...              ...
970   62        dsessionsqy@sakura.ne.jp     Dehlia  Female      4.190.6.161
971   32      vkondratenkoqz@cornell.edu       Vick    Male  142.247.110.109
972   66         tbrethertonr0@lycos.com      Tilda  Female   110.232.61.135
973   67        srenfrewr1@shinystat.com     Stacey  Female  100.110.251.127
974   30       jjoiceyr2@theatlantic.com     Justin    Male   111.102.229.23
975   13           bborleacer3@naver.com       Beck    Male   235.145.58.208
976   30         lmackeer4@reference.com      Lilla  Female   134.25.245.204
977   64         mpaolicchir5@utexas.edu     Mellie  Female   134.131.44.209
978   63              lgaliar6@lycos.com    Laverne  Female    119.36.146.55
979   97  ldemcakr7@networksolutions.com        Lee  Female    62.235.73.154
980   41            ide giorgior8@360.cn     Ilario    Male  221.122.195.221
981   85            mmctrustyr9@jugem.jp     Merell    Male    27.180.39.146
982   42           ekohnra@amazonaws.com       Elia    Male  219.249.104.182
983   73        mmillmorerb@hatena.ne.jp      Minor    Male    28.203.151.80
984   24           lchaudrellerc@soup.io        Lon    Male   41.164.159.120
985   41            iavramovitzrd@ft.com        Ivy  Female  156.241.220.163
986   35         rreaneyre@canalblog.com       Rory  Female      88.61.92.34
987   54    sscawnrf@businessinsider.com    Sampson    Male    167.100.18.51
988   30         lharbronrg@slashdot.org      Levey    Male  247.242.143.144
989   34              pgurnayrh@uiuc.edu    Padgett    Male    232.159.28.11
990   31                 ckyngeri@hp.com    Chryste  Female   158.126.242.37
991   64     cboothroydrj@yellowbook.com   Charlena    None    164.13.253.57
992   69             kbrunkerrk@hibu.com       Keen    Male    228.227.8.245
993   34             sleallerl@wikia.com      Selle  Female     42.147.60.17
994   38          kbeefonrm@vkontakte.ru    Karylin  Female     22.178.83.93
995   73           pstroulgerrn@time.com   Penelopa  Female  116.139.135.110
996   46     kbasnettro@seattletimes.com      Kandy  Female    204.88.246.32
997   55     pmortlockrp@liveinternet.ru       Paco    Male   223.217.138.28
998   58            sphetterq@toplist.cz      Sammy    Male    30.133.159.63
999   26           jtyresrr@slashdot.org     Josiah    Male    82.208.90.242

       last_name          phone    zip
0      DelaField  (245)663-9899  48157
1        Gravett  (445)749-6402  88414
2      Stockdale  (312)997-8947  74026
3        Comfort  (530)815-7417  73002
4       Pinckard  (214)138-6981  41861
5          Smail  (918)972-0284  30045
6    Bowlesworth  (113)112-6771  82432
7        Bricket  (665)414-5000  80745
8        McCahey  (218)925-2761   1537
9     Scotchford  (433)404-7429   2559
10       Scollan  (375)464-4912  39480
11    Ciementini  (678)997-5536  98537
12       Cubbino  (920)742-0040  62916
13      Grangier  (928)244-7440  49415
14       Dimitru  (727)125-0315  13144
15        Roddam  (185)375-0188  10199
16         Raoux  (805)542-0438  50424
17        Grooby  (841)267-7102  41513
18       Raggles  (639)538-7115  85609
19       Vennart  (104)768-2999  95135
20      Gulliman  (274)183-1917  57030
21     La Padula  (981)342-5337  72945
22     Hanwright  (605)741-2122  29150
23        Checci  (460)335-2421  20141
24       Lukovic  (996)835-2682  19006
25     Flintoffe  (919)465-9344  95616
26        Jeskin  (517)796-3878  41819
27     Ganforthe  (175)703-9055  93592
28     Dumberell  (666)800-4626  76573
29       Kaveney  (802)233-2511  16201
..           ...            ...    ...
970         Ades  (877)340-3983  41041
971       Ketley  (691)781-9582   2905
972      Cossins  (323)288-9679  12770
973      Quinion  (452)309-2781  32334
974     Bockings  (498)521-4884  19129
975      Jerrand  (871)168-1695  52732
976        Pyffe  (646)378-6618  58503
977      Airdrie  (691)913-9932  24318
978        Flint  (792)766-3084  99011
979        Vasic  (626)210-9784  82838
980      Mannagh  (501)588-7995  79010
981          Kop  (532)164-3700  67103
982     Stedmond  (160)896-8551  50078
983     Kynaston  (312)645-4661  35766
984       Dyster  (142)357-9842   4478
985        Cardo  (690)781-2853  78234
986       Jersch  (461)911-4511  96705
987      Wrangle  (275)423-6242  68901
988        Towle  (828)103-0054  58272
989        Angus  (214)353-4128  14620
990   Kennington  (443)231-5097  95619
991      Johncey  (746)900-3948  95837
992    MacDermot  (602)869-5523  90720
993     Burleton  (320)646-8913  32502
994      Crosbie  (519)281-1309  52162
995        Roman  (267)574-3068  36064
996       Cossam  (790)556-4502  32216
997  Weatherburn  (267)644-8957  98572
998       Dymick  (146)538-5595   4941
999     Ayshford  (571)127-0586   6093

[1000 rows x 8 columns]

In [16]:
assert isinstance(df_users, pd.DataFrame)

In [17]:
################################
# 2b) Drop personal attributes #
################################

# Remove any personal information, following the Safe Harbour method.
# Based on lecture 11, remove any columns from df_personal that contain personal information.


df_users = df_users.drop(df_users.columns[[1,2,4,5,6]], axis = 1)
print(df_users)

     age  gender    zip
0     46    Male  48157
1     56  Female  88414
2     30    Male  74026
3     87    Male  73002
4     58    Male  41861
5     39  Female  30045
6     43  Female  82432
7     37    Male  80745
8     35  Female   1537
9     40    Male   2559
10     9    Male  39480
11    38    Male  98537
12    42  Female  62916
13    39  Female  49415
14    37  Female  13144
15    66    Male  10199
16    79    Male  50424
17    67  Female  41513
18    30  Female  85609
19    39  Female  95135
20    22    Male  57030
21    42  Female  72945
22    42    Male  29150
23    56    Male  20141
24    64    Male  19006
25    58    Male  95616
26    44  Female  41819
27    62  Female  93592
28    45  Female  76573
29    31  Female  16201
..   ...     ...    ...
970   62  Female  41041
971   32    Male   2905
972   66  Female  12770
973   67  Female  32334
974   30    Male  19129
975   13    Male  52732
976   30  Female  58503
977   64  Female  24318
978   63  Female  99011
979   97  Female  82838
980   41    Male  79010
981   85    Male  67103
982   42    Male  50078
983   73    Male  35766
984   24    Male   4478
985   41  Female  78234
986   35  Female  96705
987   54    Male  68901
988   30    Male  58272
989   34    Male  14620
990   31  Female  95619
991   64    None  95837
992   69    Male  90720
993   34  Female  32502
994   38  Female  52162
995   73  Female  36064
996   46  Female  32216
997   55    Male  98572
998   58    Male   4941
999   26    Male   6093

[1000 rows x 3 columns]

In [18]:
assert len(df_users.columns) == 3

In [19]:
###################################
# 2c) Drop ages that are above 90 #
###################################

# Safe Harbour rule C:
#   Drop all the rows which have age greater than 90 from df_personal

df_users = df_users[df_users['age']<=90]

print(df_users)

     age  gender    zip
0     46    Male  48157
1     56  Female  88414
2     30    Male  74026
3     87    Male  73002
4     58    Male  41861
5     39  Female  30045
6     43  Female  82432
7     37    Male  80745
8     35  Female   1537
9     40    Male   2559
10     9    Male  39480
11    38    Male  98537
12    42  Female  62916
13    39  Female  49415
14    37  Female  13144
15    66    Male  10199
16    79    Male  50424
17    67  Female  41513
18    30  Female  85609
19    39  Female  95135
20    22    Male  57030
21    42  Female  72945
22    42    Male  29150
23    56    Male  20141
24    64    Male  19006
25    58    Male  95616
26    44  Female  41819
27    62  Female  93592
28    45  Female  76573
29    31  Female  16201
..   ...     ...    ...
969   46  Female  12939
970   62  Female  41041
971   32    Male   2905
972   66  Female  12770
973   67  Female  32334
974   30    Male  19129
975   13    Male  52732
976   30  Female  58503
977   64  Female  24318
978   63  Female  99011
980   41    Male  79010
981   85    Male  67103
982   42    Male  50078
983   73    Male  35766
984   24    Male   4478
985   41  Female  78234
986   35  Female  96705
987   54    Male  68901
988   30    Male  58272
989   34    Male  14620
990   31  Female  95619
991   64    None  95837
992   69    Male  90720
993   34  Female  32502
994   38  Female  52162
995   73  Female  36064
996   46  Female  32216
997   55    Male  98572
998   58    Male   4941
999   26    Male   6093

[990 rows x 3 columns]

In [20]:
assert df_users.shape==(990, 3)

In [21]:
#############################
# 2d) Load in zip code data #
#############################

# Load the zip_pop.csv file into a (different) pandas dataframe. Call it 'df_zip'.

df_zip = pd.read_csv('zip_pop.csv')
print(df_zip)

         zip  population
0       1001       16769
1       1002       29049
2       1003       10372
3       1005        5079
4       1007       14649
5       1008        1263
6       1009         741
7       1010        3609
8       1011        1370
9       1012         661
10      1013       23188
11      1020       29668
12      1022        2451
13      1026         946
14      1027       17660
15      1028       15720
16      1029         789
17      1030       11669
18      1031        1308
19      1032         570
20      1033        6227
21      1034        2021
22      1035        5250
23      1036        5109
24      1037         838
25      1038        2545
26      1039        1336
27      1040       39880
28      1050        2530
29      1053        1685
...      ...         ...
33062  99786         259
33063  99788          69
33064  99789         402
33065  99790          20
33066  99791         237
33067  99801       29164
33068  99820         479
33069  99824        2111
33070  99825         120
33071  99826         442
33072  99827        2602
33073  99829         777
33074  99830         561
33075  99832         104
33076  99833        3202
33077  99835        8880
33078  99836          52
33079  99840         968
33080  99841         133
33081  99901       13508
33082  99903          31
33083  99918         231
33084  99919         531
33085  99921        1920
33086  99922         384
33087  99923          87
33088  99925         819
33089  99926        1460
33090  99927          94
33091  99929        2338

[33092 rows x 2 columns]

In [22]:
assert isinstance(df_zip, pd.DataFrame)

In [23]:
###################################################
# 2e) Sort zipcodes into "Geographic Subdivision" #
###################################################

# The Safe Harbour Method applies to "Geographic Subdivisions"
#   as opposed to each zipcode itself. 
# Geographic Subdivision:
#   All areas which share the first 3 digits of a zip code
#
# Count the total population for each geographic subdivision
# Warning: you have to be savy with a dictionary here
# To understand how a dictionary works, check the section materials,
#   use google and go to discussion sections!
#
# Instructions: 
# - Create an empty dictionary: zip_dict = {}
# - Loop through all the zip_codes in df_zip
# - Create a dictionary key for the first 3 digits of a zip_code in zip_dict
# - Continually add population counts to the key that contains the 
#     same first 3 digits of the zip code
#
# To extract the population you will find this code useful:
#   population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])
# To extract the first 3 digits of a zip_code you will find this code useful:
#   int(str(zip_code)[:3])






zip_dict = {}
for zip_code in df_zip['zip']:
    key = int(str(zip_code)[:3])
    population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])
    if key in zip_dict:
        zip_dict[key] += population
    else:
        zip_dict[key] = population

In [24]:
assert isinstance(zip_dict, dict)
assert zip_dict[100] == 1580423

AssertionError:

In [ ]:
#################################
# 2f) Explain this Code Excerpt #
#################################

# In the cell below, explain in words what what the following line of code is doing:
population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])

In [ ]:
# first of all it looks in the zip column of the df_zip dataframe to find if a row contain the value of zip_code
# if this is the case we grab the value in the same row in the population column 
# then the value is converted into a list value and returned

In [ ]:
#############################
# 2g) Masking the Zip Codes #
#############################

# Go through each user, and update their zip-code, to Safe Harbour specifications:
#   If the user is from a zip code for the which the
#     "Geographic Subdivision" is less than equal to 20000:
#        - Change the zip code to 0 
#   Otherwise:
#         - Change the zip code to be only the first 3 numbers of the full zip cide
# Do all this re-writting the zip_code columns of the 'df_users' DataFrame
#
# Hints:
#  - This will be several lines of code, looping through the DataFrame, 
#      getting each zip code, checking the geographic subdivision with 
#      the population in zip_dict, and settig the zip_code accordingly. 


for index, row in df_users.iterrows():
    first_three = int(str(zip_code)[3:])
    print(first_three)
    if (zip_dict[first_three] <= 20000):
        df_users.set_value(index, 'zip', 0)
    else:
        df_users.set_value(index, 'zip', first_three)

In [ ]:
assert len(df_users) == 990
assert sum(df_users.zip == 0) == 2
assert df_users.ix[671, 'zip'] == 0

In [ ]:
##########################################################
# 2h) Save out the properly anonymized data to json file #
##########################################################

# Save out df_users as a json file, called 'real_anon_user_dat.json'
df_users.to_json('real_anon_user_dat.json')

In [ ]:
assert isinstance(pd.read_json('real_anon_user_dat.json'), pd.DataFrame)

Congrats, you're done! The users identities are much more protected now. 

Submit this notebook file to TritonED.